
/*--------------------------------------------------------------
# Customizer widget backend
--------------------------------------------------------------*/
.admin-widget-panel {
    margin-top: 10px;
}
.admin-widget-panel:last-child {
    margin-bottom: 10px;
}
.admin-widget-panel a {
    text-decoration: none;
}
.admin-widget-panel input[type="text"], .admin-widget-panel input[type="email"], .admin-widget-panel input[type="number"], .admin-widget-panel input[type="phone"], .admin-widget-panel input[type="password"], .admin-widget-panel input[type="url"], .admin-widget-panel input[type="number"], .admin-widget-panel select, .admin-widget-panel textarea {
    background: #f1f1f1 none repeat scroll 0 0;
    box-shadow: none;
    color: #0099ff;
    margin: 4px 0;
    padding: 4px 10px;
}
.admin-widget-panel label {
    font-weight: bold;
    display: inline-block;
	width: 96px;
    float: left;
    margin-top: 12px;
}
.admin-widget-panel img {
    max-width: calc( 100% - 110px );
    height: auto;
    margin-bottom: 15px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 1px #ccc;
}

.th-upload-button {
    background: #0099ff;
    border: 3px double #0099ff;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    outline: medium none !important;
    padding: 8px 30px;
    text-transform: uppercase;
    transition: all 0.35s ease 0s;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
}
.th-upload-button:hover {
    border-color: #f1f1f1;
    color: #444444;
}
